In [1]:
import pandas as pd

In [7]:
# 1. Read Salaries.csv as a dataframe called sal.
# dtype_dict = {'Id': int, 'EmployeeName': str, 'JobTitle': str, 'BasePay': float, 'OvertimePay': float,
#               'OtherPay': float, 'Benefits': float, 'TotalPay': float, 'TotalPayBenefits': float}
sal = pd.read_csv('Salaries.csv')

C:\Users\akash\AppData\Local\Temp\ipykernel_26848\3953014353.py:4: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('Salaries.csv')

In [8]:
# 2. Check the head of the DataFrame.
print(sal.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

In [4]:
# 3. Use the .info() method to find out how many entries there are.
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [12]:
# 4. What is the average BasePay ?
average_base_pay = pd.to_numeric(sal['BasePay'], errors='coerce').mean()
print("Average BasePay:", average_base_pay)

Average BasePay: 66325.44884050643

In [15]:
# 5. What is the highest amount of OvertimePay in the dataset?
highest_overtime_pay = pd.to_numeric(sal['OvertimePay'], errors='coerce').max()
print("Highest OvertimePay:", highest_overtime_pay)

Highest OvertimePay: 245131.88

In [17]:
# 6. What is the job title of JOSEPH DRISCOLL?
joseph_driscoll_job_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].iloc[0]
print("Job title of JOSEPH DRISCOLL:", joseph_driscoll_job_title)

Job title of JOSEPH DRISCOLL: CAPTAIN, FIRE SUPPRESSION

In [18]:
# 7. How much does JOSEPH DRISCOLL make (including benefits)?
joseph_driscoll_total_pay = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].iloc[0]
print("Total pay of JOSEPH DRISCOLL:", joseph_driscoll_total_pay)

Total pay of JOSEPH DRISCOLL: 270324.91

In [19]:
# 8. What is the name of highest paid person (including benefits)?
highest_paid_person = sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']
print("Name of highest paid person:", highest_paid_person)

Name of highest paid person: NATHANIEL FORD

In [20]:
# 9. What is the name of lowest paid person (including benefits)?
lowest_paid_person = sal.loc[sal['TotalPayBenefits'].idxmin()]['EmployeeName']
print("Name of lowest paid person:", lowest_paid_person)

Name of lowest paid person: Joe Lopez

In [29]:
# 10. What was the average (mean) BasePay of all employees per year? (2011-2014)?
sal['Year'] = pd.to_datetime(sal['Year'], format='%Y')
average_base_pay_per_year = pd.to_numeric(sal.groupby(sal['Year'].dt.year)['BasePay'], errors='coerce').mean()
print("Average BasePay per year:\n", average_base_pay_per_year)

Average BasePay per year:
 [nan nan nan ... nan nan nan]

In [23]:
# 11. How many unique job titles are there?
unique_job_titles = sal['JobTitle'].nunique()
print("Number of unique job titles:", unique_job_titles)

Number of unique job titles: 2159

In [24]:
# 12. What are the top 5 most common jobs?
top_5_common_jobs = sal['JobTitle'].value_counts().head()
print("Top 5 most common jobs:\n", top_5_common_jobs)

Top 5 most common jobs:
 Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [25]:
# 13. How many Job Titles were represented by only one person in 2013?
job_titles_2013 = sal[sal['Year'].dt.year == 2013]['JobTitle'].value_counts()
unique_job_titles_2013 = job_titles_2013[job_titles_2013 == 1].count()
print("Number of job titles represented by only one person in 2013:", unique_job_titles_2013)

Number of job titles represented by only one person in 2013: 202

In [26]:
# 14. How many people have the word Chief in their job title?
chief_count = sal[sal['JobTitle'].str.contains('Chief', case=False)]['EmployeeName'].count()
print("Number of people with 'Chief' in their job title:", chief_count)

Number of people with 'Chief' in their job title: 627

In [27]:
# 15. Is there a correlation between length of the Job Title string and Salary?
sal['TitleLength'] = sal['JobTitle'].apply(len)
correlation = sal['TitleLength'].corr(sal['TotalPayBenefits'])
print("Correlation between length of job title and salary:", correlation)

Correlation between length of job title and salary: -0.03687844593260675